<div class="columns">
  <div class="column is-3">
    <h5 class="title is-5">
      1. Upload your image:
    </h5>
  </div>

  <div class="column is-3">
    <div class="file">
      <label class="file-label" for="image">
        <input
          class="file-input"
          type="file"
          name="image"
          id="image"
          (change)="onImageChanged($event)"
        >
        <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose an image…
      </span>
    </span>
      </label>
    </div>
  </div>

</div>


