@import "src/assets/style/global";




h6 {
  font-family: $title-font;
  font-size: 1.2rem !important;
  font-weight: 400;
}

.custom-color {
  margin-left: 5em;
  cursor: pointer;
  // border-left: 1px solid #000;
  font-weight: bold;

  &:hover {
    color: $custom;
  }
}

.columns {
  margin-bottom: 2em;

}
