@import "src/assets/style/global";


.view{

  margin-bottom: .5em;
}

.room {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  width: 100%;
  height: 0;
  max-height: 20rem;
  padding-top: 62.9%;
  border: 2px solid grey;
  position: relative;

}

.nail{
  position: absolute;
  left: 50%;

}

.frame{
  border: 3em solid;
  position: relative;
  left: -50%;




}

.matting{
  border: 0px solid white;
  background-color: white;

}


.picture{
  display: block;
  //width: 100px;
  height: auto;
  object-fit: cover;
  //max-height: 60vh;

}

.tabs {
  margin-bottom: 2em;

}

.is-active {
  & a{
    background-color: $custom !important;

  }

}
