<h5 class="title">
  Width:
</h5>
<label for="width">
<input type="number" id="width" value="{{settings.width}}" (change)="setWidth($event)">
  cm X {{dimensions.imageHeight}} cm
</label>
<h5 class="title">
  Frame width:
</h5>
<div>
  <button class="button" (click)="setFraming('-')">
    -
  </button>
  {{settings.framing}} cm

  <button class="button" (click)="setFraming('+')">
    +
  </button>

</div>

<h5 class="title">
  Matting:
</h5>
<div>
  <button class="button" (click)="setMatting('-')">
    -
  </button>
  {{settings.matting}} cm

  <button class="button" (click)="setMatting('+')">
    +
  </button>

</div>

<h5 class="title">
  Composition total dimensions: {{dimensions.totalWidth}} X {{dimensions.totalHeight}} cm
</h5>
